
@{
    ViewData["Title"] = "extraerLog";
}

<p class="text-center">
    <h1>El log se descargó con exito</h1>
    <form asp-action="Index">
        <input type="submit" value="Regresar al inicio" class="btn btn-info" />
    </form>
    </h4>
</p>

