
@{
    ViewData["Title"] = "guardarDatos";
}

<p class="text-center">
    <h3 class="text-center">
        @ViewBag.PacienteIngresado
        guardado correctamente.


    </h3>
    <h4 class="text-center">
        <a asp-action="Index">Aceptar</a>
    </h4>
</p>
