
@{
    ViewData["Title"] = "guardarDatos";
}

<h3>
    <p class="text-center">
        @ViewBag.PacienteIngresado
         guardado correctamente.
    <p>

</h3>
<h6>
    <a asp-action="Index">Regresar</a>
</h6>