@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Salud para tu sontrisa</h1>
    <h4>
        <p>
            <a asp-action="recibirDatos">Registrar paciente</a><br />
            <a asp-action="">Buscar pacientes</a>
        </p>
    </h4>
</div>
