
@{
    ViewData["Title"] = "registrarCita";
}
@if(ViewBag.NewDate != null)
{
<p class="text-center">
    <h4>
        @if (!ViewBag.lleno)
        {
            <p>
                Se actualizó la cita de @ViewBag.NewDate.Name, para la fecha @ViewBag.NewDate.NextDate<br />
            </p>
        }
        else
        {
            <p>
                La fecha de la cita se encuntra llena. Ingere otra fecha.
            </p>
        }

        <form asp-action="Index">
            <input type="submit" value="Regresar a inicio" class="btn btn-primary" />
        </form>
    </h4>
</p>
}
